<!DOCTYPE html>
<html>
	<head>
		<title><%= full_title(yield(:title)) %></title>
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag 'application',
		      media: 'all',
		      'data-turbolinks-track': 'reload'
		 %>
		<%= javascript_include_tag 'application',
		      'data-turbolinks-track': 'reload'
	   %>

		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- HTML shim -->
		<%= render 'layouts/shim' %>
	</head>
	<body>
		<% if yield(:except) == true %>
			<%= yield %>
			<%= debug(params) if Rails.env.development? %>
		<% else %>
			<%= render 'layouts/header' %>
			<div class="container-fluid">
				<% flash.each do |message_type, message| %>
					<%= content_tag(:div, message,
					                class: "alert alert-#{message_type}")
					 %>
				<% end %>
				<%= yield %>
				<%= render 'layouts/footer' %>
				<%= debug(params) if Rails.env.development? %>
			</div>
		<% end %>
	</body>
</html>
